<!doctype html>
<html lang="en">
    <head>
        <base href="/">
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="assets/money.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Finance App Blazor UI</title>
        <link rel="stylesheet" href="css/app.css" />
        <link rel="stylesheet" href="UI_Blazor_WebApp.styles.css" />
        <HeadOutlet />
    </head>
    <body>
        <Routes />
        <script src="_framework/blazor.web.js"></script>
    </body>
</html>
