@attribute [Route(AppRoutes.Main)]

<div class="main-page">
    <Area>
        <HeaderFragment>
            <div class="main-page__header">
                <div class="main-page__header-text-container">
                    Total balance is: @FinanceRecordsStateContainer.TotalBalance$
                </div>
                <Button
                    variant=@ButtonVariant.Dark
                    text="Add random record"
                    OnClick="AddRandomRecord"
                />
            </div>
        </HeaderFragment>
        <ContentFragment>
            @if (FinanceRecordsStateContainer.FinanceRecords != null)
            {
                <div class="main-page__records">
                    @foreach (var record in FinanceRecordsStateContainer.FinanceRecords)
                    {
                        <FinanceRecord
                        @key=record.Id
                            record=@record
                            OnDelete="DeleteRecord"
                        />
                    }
                </div>
            }
        </ContentFragment>
    </Area>
</div>
