<div class="page-header">
    <img
        class="page-header__icon"
        src="assets/money.svg"
     />
    <h1>Finance App. Blazor UI</h1>
    <img
        class="page-header__icon"
        src="assets/blazor.svg"
    />
</div>
