<div class="text-input">
    <label class="text-input__label">
        @Label
    </label>
    <input 
        class="text-input__input"
        type=@Type
        placeholder=@Placeholder
        @bind-value=Value
        @oninput="OnInput"
    />
</div>
