.main-page {

}

.main-page__header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.main-page__header-text-container {
    align-content: center;
    font-size: 18px;
}
